<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS</title>
  <link rel="stylesheet" href="CSS/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/styles.css">
  <script src="JS/vue.js"></script>
</head>
<body>
<div class="wrapper">
    <form class="form" v-if="!formSubmited" @submit.prevent="formSubmited = true">
      <div class="block">
        <label>Email</label>
        <input type="email" class="input" v-model="email">
      </div>
      <div class="block">
        <label>First name</label>
        <input type="text" class="input" v-model="firstName">
      </div>
      <div class="block">
        <label>Last name</label>
        <input type="text" class="input" v-model="lastName">
      </div>
      <div class="block">
        <label>Phone</label>
        <input type="phone" class="input" v-model="phone">
      </div>
      <div class="block block-guests">
        <label>Guests</label>
        <button class="btn btn-primary" type="button" @click.prevent="addGuest">+</button>
      </div>
      <div class="block add-guests" v-for="(guest, index) in guests">
        <label @click="deleteGuest(index)">Guest {{ index + 1 }}</label>
        <input type="text" class="input" placeholder="Гость" v-model="guests[index]">
      </div>
      <input type="submit" value="Send Data" class="btn btn-success"></input>
    </form>
  <div class="done" v-else>
    <h1>All done!</h1>
    <table class="table table-bordered">
      <tr>
        <td class="first-column">Email</td>
        <td class="second-column">{{ email }}</td>
      </tr>
      <tr>
        <td class="first-column">First name</td>
        <td class="second-column">{{ firstName }}</td>
      </tr>
      <tr>
        <td class="first-column">Last name</td>
        <td class="second-column">{{ lastName }}</td>
      </tr>
      <tr>
        <td class="first-column">Phone</td>
        <td class="second-column">{{ phone }}</td>
      </tr>
      <tr>
        <td class="first-column">Guests</td>
        <td class="second-column">
          <ul class="list-group">
            <li class="list-group-item" v-for="(guest, index) in guests">
              {{ guest }}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src="JS/scripts.js"></script>
</body>
</html>